
@font-face {
    font-family: 'SRG_SSR_Text_VF';
    src: url('https://www.srf.ch/var/storage/assets/webpack/fonts/SRGSSRTypeVF_Text_W_Wght..woff2') format('woff2-variations'), /* new standard */
    url('https://www.srf.ch/var/storage/assets/webpack/fonts/SRGSSRTypeVF_Text_W_Wght..woff2') format('woff2'); /* older style */
    font-weight: 300 800;
    font-display: swap;
}
